<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script type="application/javascript">
      window.$ = window.jQuery = require('jquery')
    </script>
    <title>DM4REVA</title>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./exdef.css">
  </head>
  <body>
    <div id="mainBody">
      <div id="mainContent">
      </div>
    </div>
    <div id="footer">
      <div class="progress" style="display:none;"  id="progressBar">
        <div class="progress-bar progress-bar-striped active" id="progressBarMessage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          Loading...
        </div>
      </div>
    </div>
    <script src="./exdef.main.js"></script>
    <script type="text/javascript">
      let ipcRenderer = require('electron').ipcRenderer
      ipcRenderer.on('show-loading', (event) => window.$('#progressBar').show())
      ipcRenderer.on('hide-loading', (event) => window.$('#progressBar').hide())
    </script>
  </body>
</html>
