<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script type="application/javascript">
      window.$ = window.jQuery = require('jquery')
    </script>
    <title>DM4REVA</title>
    <script type="text/javascript" src="./lib/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./exdef.css">
  </head>
  <body>
    <div id="exdefMain" class="container-fluid"></div>
    <script src="./exdef.main.view.js"></script>
    <script src='./index.mainmenu.js'></script>
  </body>
</html>
