<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Diagram Viewer</title>
    <script type="application/javascript">
      window.$ = window.jQuery = require('jquery')
    </script>
    <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./lib/vis/vis.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./lib/vis/vis.min.css">
    <link rel="stylesheet" type="text/css" href="./viewer.css">
  </head>
  <body>
    <div class='container-fluid' id='viewerMain'>
    </div>
    <script src="./viewer.main.view.js"></script>
  </body>
</html>
