html,body {
  height:100%
}

body {
  margin:0
}

#seeDRBtn, #addInf {
  margin-top: 20px;
}

#exdefMain {
  margin-top: 20px;
  margin-right: 15px;
  padding-bottom:1.9em;
}

#mainBody {
  min-height:100%;
}

#footer {
  margin-top:-1.9em;
  height:1.9em;
}

#mu-new {
  padding-top: 10px;
}

#mu-new-add-btn {
  padding-top: 20px;
}

#ers-view {
  height: 250px;
}

.ers-view {
  overflow-y: scroll;
  height: 80%;
}

.form-control:focus.errorInput {
  border-color: #FF7D7D;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233,102,102,0.6);
}
