html,body {
  height:100%
}

body {
  margin: 0;
  padding-top: 20px;
}

#footer {
  margin-top:-20px;
  height:20px;
}

#mainBody {
  min-height:100%;
  padding-left: 350px;
}

#mainContent {
  padding-bottom: 20px;
  padding-right: 20px;
}

#exdefList {
  margin-left: -350px;
  padding-left: 20px;
  padding-right: 20px;
  left: 350px;
  width: 350px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}

#exdefMain {
  margin-right: 15px;
  width: 100%;
  height: 100%;
}

.form-control:focus.errorInput {
  border-color: #FF7D7D;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233,102,102,0.6);
}
