html,body {
  height:100%
}

body {
  margin:0
}

#seeDRBtn, #addInf {
  margin-top: 20px;
}

#exdefMain {
  margin-top: 20px;
  margin-right: 15px;
  padding-bottom:1.9em;
}

#mainBody {
  min-height:100%;
}

#footer {
  margin-top:-1.9em;
  height:1.9em;
}

#mu-new {
  padding-top: 10px;
}

#mu-new-add-btn {
  padding-top: 20px;
}
